<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <div *ngFor="let categoria of favoritoPorGenero">
    
    <ion-grid *ngIf="categoria.peliculas.length > 0">
      <ion-row>
        <ion-col>
          {{ categoria.genero }}
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <app-slideshow-poster [peliculas]="categoria.peliculas"></app-slideshow-poster>

  </div>


</ion-content>
